.item_block {
    float: left;
    /*border-radius: 5px;*/
    padding: 50px 0;
    text-align: center;
    /*background-color: aqua;*/
    width: 200px;
    height: 100px;
    align-content: center;
    border-style: solid;
    margin: 5px;
}

p {
    margin: auto;
}